$item-height: 40px;
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$border-radius: 3px;


:root {
    color-scheme: dark light;
    --dca-white: #FFFFFF;
    --dca-black: #000000;
    --dca-primary: #00bbff;
    --dca-gray: #666;
    --dca-gray-lightest: #f2f2f2;
    --dca-gray-lighter: #ddd;
    --dca-gray-light: #999;
    --dca-gray-darker: #454545;
    --dca-gray-darkest: #333;
    --dca-gray-super-lightest: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
   :root {
       --dca-white: #2A2C2E;
       --dca-black: #FFF;
       --dca-primary: #58D1FC;
       --dca-gray: #999; //$gray-light;
       --dca-gray-lightest: #444; //$gray-darkest;
       --dca-gray-lighter: #666; //$gray-darker;
       --dca-gray-light: #888; // $gray-light;
       --dca-gray-darker: #aaa; //$gray;
       --dca-gray-darkest: #eee; // $gray-lighter;
       --dca-gray-super-lightest: #333;
    }
}
