.cms-alias-item {
    all: initial;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $item-height;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(black, 0.5);
    margin-bottom: 10px;
    border: 1px solid white;
    overflow: hidden;

    &:hover {
        border: 1px solid #999;
        text-decoration: none;
    }
}

.cms-aliases-list-item.ui-sortable-placeholder {
    all: initial;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: $item-height;
    border-radius: $border-radius;
    margin-bottom: 10px;
    border: 2px solid #0bf;
    visibility: visible !important;
    background: mix(white, #0bf, 80%);
}

.cms-alias-title,
.cms-alias-item-category-link {
    all: initial;
    display: flex;
    align-items: center;

    // line-height: $item-height;
    height: $item-height;
    font-family: $font-family;
    cursor: pointer;
    padding-left: 28px;
    padding-right: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: bold;
    color: black;
    flex-grow: 1;

    &,
    &:hover,
    &:focus,
    &:visited {
        color: black;
        text-decoration: none;
    }
}

.cms-alias-title {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAABCCAAAAAB73glBAAAAAnRSTlMAAHaTzTgAAAAeSURBVHgBY7gCBgxAAGHRRoAKYOi5dNSloy4ddSkA3VChcDH0cxcAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: 7px;
    position: relative;
    background-position: 8px 50%;
    padding-left: 45px;

    &:before {
        display: inline-block;
        content: "\E003";
        font: normal normal normal 16px/1 django-cms-iconfont;
        text-rendering: auto;
        transform: translate(0, 0);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        transition: transform 0.1s;
        top: 50%;
        left: 7px;
        color: #555;
        font-size: 12px;
        margin-top: -6px;
        margin-left: 18px;
        cursor: pointer;

        .cms-alias-sortable-expanded & {
            transform: rotate(270deg);
        }

        .cms-alias-sortable-collapsed & {
            transform: rotate(180deg);
        }
    }
}

.cms-alias-placeholder {
    padding-bottom: 10px;
}
