{% extends "djangocms_alias/base.html" %}
{% load static i18n djangocms_alias_tags sekizai_tags %}

{% block aliases_content %}
    <div class="cms-aliases-page container">
        <h2 class="cms-aliases-page-heading" id="{{ category.name|slugify }}">
            <span class="cms-aliases-page-heading-inner">
                {{ category.name }}
            </span>
            <a href="../.." class="cms-aliases-page-back cms-alias-btn">{% trans "Back" %}</a>
        </h2>
        <div class="cms-alias-site-filter">
            <label class="inline">{% trans "Filter by Site" %}</label>
            <select id="sitefilter" class="small-2">
                <option value='' >------</option>
                {% for site in sites %}
                    <option value="{{ site.id }}">{{ site.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="cms-aliases-category">
            <div class="cms-aliases-sortable" data-ajax-url="{% url 'admin:djangocms_alias_set_alias_position' %}">
                {% for alias in aliases %}
                    <div data-alias-id={{ alias.pk }} class="cms-aliases-list-item cms-alias-sortable-collapsed">
                        <div class="cms-alias-draggable">
                            <h3 class="cms-alias-item" id="{{ alias.name|slugify }}">
                                <span class="cms-alias-title cms-alias-sortable-show-hide-button">
                                    {{ alias.name }}
                                </span>
                                <a href="{{ alias.get_absolute_url }}" class="cms-alias-btn"><span
                                        class="cms-icon cms-icon-pencil"></span></a>
                            </h3>
                            <div class="cms-alias-placeholder">
                                {% render_alias alias %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
