{% extends "djangocms_alias/base.html" %}
{% load cms_tags i18n djangocms_alias_tags %}

{% block aliases_content %}
    <div class="cms-aliases-page container">
        <h1 class="cms-aliases-page-h1">{% trans 'Alias administration' %}</h1>
        <h3 class="cms-aliases-page-h3">{% trans 'Categories' %}</h3>
        {% for category in categories %}
            <h2 class="cms-alias-item" id="{{ category.name|slugify }}">
                <a class="cms-alias-item-category-link" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                <a href="{% url 'admin:djangocms_alias_category_change' category.pk %}"
                  data-rel="sideframe" data-on-close="REFRESH_PAGE"
                  class="cms-btn cms-alias-btn "><span class="cms-icon cms-icon-pencil"></span></a>
            </h2>
        {% endfor %}
    </div>
{% endblock %}
