{% extends "djangocms_alias/base.html" %}
{% load cms_tags i18n djangocms_alias_tags %}

{% block aliases_content %}
    <div class="cms-aliases-page container">
        <h1 class="cms-aliases-page-h1">{% trans 'Alias administration' %}</h1>
        {% for category in categories %}
            <h2 class="cms-alias-item" id="{{ category.name|slugify }}">
                <a class="cms-alias-item-category-link" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            </h2>
        {% endfor %}
    </div>
{% endblock %}
