bs4
coverage
django-app-helper
django-classy-tags
django-fsm>=2.6
django-sekizai
django-parler
flake8
isort
pyflakes>=2.1.1

# Unreleased django-cms 4.1 compatible packages
https://github.com/django-cms/djangocms-versioning/tarball/master
